@import base
@import "compass/typography/text/ellipsis"
$width: 160px

body
  +background-image(image-url('lighting.jpg'))
  background-repeat: no-repeat

.badge
  height: 100%
  width: 100%
  text-align: center
  input[type="number"]
    padding: 15px
    font-size: 18px
    width: $width
    text-align: center
  input[type="submit"]
    margin: 10px 0 0
    width: $width

.pick
  width: 100%
  border: 1px #c3c3c3 solid
  +background-image(linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%))
  height: 30px
  margin-bottom: 10px
  font-size: 80%
  +ellipsis()
  line-height: 28px
  padding: 0 5px
  color: $black
  font-weight: 700
  +text-shadow(1px 1px #ffffff)
  +border-radius(2px)
  cursor: pointer
  &.mine
    +background-image(linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%))

.bracket
  position: relative
  .feature-set
    &:nth-child(even)
      div
        float: right
        margin-right: 10px
    .set1,
    .set2,
    .set3
      float: left
      width: 13%
      height: 225px
      margin-left: 10px
      div
        @extend .pick
    .set1
      div
        &:nth-child(2)
          margin-bottom: 40px
    .set2
      div
        margin-bottom: 80px
        &:first-child
          margin-top: 20px
    .set3
      div
        margin-top: 75px
  .final-set
    position: absolute
    left: 41.5%
    width: 15%
    margin-top: 130px
    div
      @extend .pick
      margin-top: 27px
      +ellipsis()
      &:first-child
        margin: 0
      &:nth-child(2)
        margin-left: 40%
        +box-shadow(0 0 2px 2px #cc0000)
        &:before
          content: "Final:"
          position: absolute
          top: 57px
          left: 0
          color: #ffffff
          font-weight: bold
          +text-shadow(none)
          font-size: 16px

.final
  h1,
  h2
    text-align: center

.badge,
.bracket,
.final
  background-color: rgba(#000000, 0.8)
  padding: 2%
  float: left
  margin-top: 10%
  width: 100%
  +box-shadow(0 0 10px 10px rgba(#000000, 0.8))