<section class="bracket">
  {{#features}}
    <div class="feature-{{feature}} feature-set">
      <h1>Make your picks!</h1>
      <div class="setTitle-{{feature}}"></div>
      <div class="set1">
        {{#pick}}
          {{#desc}}
            <div data-id={{id}} class="stupidDesc {{#twoline}}twoline{{/twoline}}">
              {{type}}
              <br />
              <span class="stupiddesc">{{desc}}</span>
              <span class=btn-{{imgclass}}></span>
            </div>
          {{/desc}}
          {{^desc}}
            <div data-id={{id}} {{#twoline}}class=twoline{{/twoline}}>
              {{type}}
              <br />
              <span class=btn-{{imgclass}}></span>
            </div>
          {{/desc}}
        {{/pick}}
      </div>

      <div class="set2">
        <div></div>
        <div></div>
      </div>

      <div class="set3">
        <div></div>
      </div>
      <div class="next curr-{{feature}} btn">
        Next
      </div>
    </div>
  {{/features}}
  <div class="final-set feature-set tiny">
    <h1>It&rsquo;s the <em>Final Four!</em>  Make your final picks!</h1>
    <div class="set4">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="set5">
      <div></div>
      <div></div>
    </div>

    <div class="set6">
      <h1>Champion</h1>
      <div></div>
    </div>
    <div class="done btn">
      Done
    </div>
  </div>
</section>

<script type="text/javascript">
  (function($) {
    document.ontouchmove = function(event){
      event.preventDefault();
    }
    var bid = window.location.search.replace('?id=',"");
    var pick = {
      user: bid,
      bracketOne: {
        firstRound: {
          first: null,
          second: null
        },
        secondRound: null
      },
      bracketTwo: {
        firstRound: {
          first: null,
          second: null
        },
        secondRound: null
      },
      bracketThree: {
        firstRound: {
          first: null,
          second: null
        },
        secondRound: null
      },
      bracketFour: {
        firstRound: {
          first: null,
          second: null
        },
        secondRound: null
      },
      bracketFinal: {
        firstRound: {
          first: null,
          second: null
        },
        secondRound: null
      }
    };

    $('.set1').find('div').click(function(e) {
      var att = $(this).attr('data-id');
      $(this).addClass('mine');
      if (att === "1" ||
          att === "2" ||
          att === "5" ||
          att === "6" ||
          att === "9" ||
          att === "10" ||
          att === "13" ||
          att === "14") {
        $(this).parents('.feature-set').find('.set2').find('div').first().html($(this).html()).attr('data-id',att).addClass('mine');
        if ($(this).attr('class').indexOf('stupid') !== -1) {
          $(this).parents('.feature-set').find('.set2').find('div').first().addClass('stupidDesc');
        }
        if ($(this).attr('class').indexOf('twoline') !== -1) {
          $(this).parents('.feature-set').find('.set2').find('div').first().addClass('twoline');
        }
        if (att === "1" || att === "2") {
          pick.bracketOne.firstRound.first = att;
        }
        if (att === "5" || att === "6") {
          pick.bracketTwo.firstRound.first = att;
        }
        if (att === "9" || att === "10") {
          pick.bracketThree.firstRound.first = att;
        }
        if (att === "13" || att === "14") {
          pick.bracketFour.firstRound.first = att;
        }
      } else {
        $(this).parents('.feature-set').find('.set2').find('div').last().html($(this).html()).attr('data-id',att).addClass('mine');
        if ($(this).attr('class').indexOf('stupid') !== -1) {
          $(this).parents('.feature-set').find('.set2').find('div').last().addClass('stupidDesc');
        }
        if ($(this).attr('class').indexOf('twoline') !== -1) {
          $(this).parents('.feature-set').find('.set2').find('div').last().addClass('twoline');
        }
        if (att === "3" || att === "4") {
          pick.bracketOne.firstRound.second = att;
        }
        if (att === "7" || att === "8") {
          pick.bracketTwo.firstRound.second = att;
        }
        if (att === "11" || att === "12") {
          pick.bracketThree.firstRound.second = att;
        }
        if (att === "15" || att === "16") {
          pick.bracketFour.firstRound.second = att;
        }
      }
    });

    $('.set2').find('div').click(function(e) {
      var att = $(this).attr('data-id');
      if (att === "1" ||
          att === "2" ||
          att === "3" ||
          att === "4" ||
          att === "9" ||
          att === "10" ||
          att === "11" ||
          att === "12") {
        $(this).parents('.feature-set').find('.set3').find('div').html($(this).html()).attr('data-id',att).addClass('mine');
        if ($(this).attr('class').indexOf('stupid') !== -1) {
          $(this).parents('.feature-set').find('.set3').find('div').addClass('stupidDesc');
        }
        if ($(this).attr('class').indexOf('twoline') !== -1) {
          $(this).parents('.feature-set').find('.set3').find('div').addClass('twoline');
        }
        if (att === "1" || att === "2" || att === "3" || att === "4") {
          pick.bracketOne.secondRound = att;
        } else {
          pick.bracketThree.secondRound = att;
        }
      } else {
        $(this).parents('.feature-set').find('.set3').find('div').html($(this).html()).attr('data-id',att).addClass('mine');
        if ($(this).attr('class').indexOf('stupid') !== -1) {
          $(this).parents('.feature-set').find('.set3').find('div').addClass('stupidDesc');
        }
        if ($(this).attr('class').indexOf('twoline') !== -1) {
          $(this).parents('.feature-set').find('.set3').find('div').addClass('twoline');
        }
        if (att === "13" || att === "14" || att === "15" || att === "16") {
          pick.bracketTwo.secondRound = att;
        } else {
          pick.bracketFour.secondRound = att;
        }
      }
      if ($(this).parents('.feature-set').attr('class').indexOf('dimming') !== -1) {
        $('.final-set').find('.set4').find('div:nth-child(1)').html($(this).html()).attr('data-id',att).addClass('mine');
        if ($(this).attr('class').indexOf('stupid') !== -1) {
          $('.final-set').find('.set4').find('div:nth-child(1)').addClass('stupidDesc');
        }
        if ($(this).attr('class').indexOf('twoline') !== -1) {
          $('.final-set').find('.set4').find('div:nth-child(1)').addClass('twoline');
        }
      }
      if ($(this).parents('.feature-set').attr('class').indexOf('sensorandtech') !== -1) {
        $('.final-set').find('.set4').find('div:nth-child(2)').html($(this).html()).attr('data-id',att).addClass('mine');
        if ($(this).attr('class').indexOf('stupid') !== -1) {
          $('.final-set').find('.set4').find('div:nth-child(2)').addClass('stupidDesc');
        }
        if ($(this).attr('class').indexOf('twoline') !== -1) {
          $('.final-set').find('.set4').find('div:nth-child(2)').addClass('twoline');
        }
      }
      if ($(this).parents('.feature-set').attr('class').indexOf('controlfeatures') !== -1) {
        $('.final-set').find('.set4').find('div:nth-child(3)').html($(this).html()).attr('data-id',att).addClass('mine');
        if ($(this).attr('class').indexOf('stupid') !== -1) {
          $('.final-set').find('.set4').find('div:nth-child(3)').addClass('stupidDesc');
        }
        if ($(this).attr('class').indexOf('twoline') !== -1) {
          $('.final-set').find('.set4').find('div:nth-child(3)').addClass('twoline');
        }
      }
      if ($(this).parents('.feature-set').attr('class').indexOf('communication') !== -1) {
        $('.final-set').find('.set4').find('div:nth-child(4)').html($(this).html()).attr('data-id',att).addClass('mine');
        if ($(this).attr('class').indexOf('stupid') !== -1) {
          $('.final-set').find('.set4').find('div:nth-child(4)').addClass('stupidDesc');
        }
        if ($(this).attr('class').indexOf('twoline') !== -1) {
          $('.final-set').find('.set4').find('div:nth-child(4)').addClass('twoline');
        }
      }
      $(this).parents('.feature-set').find('.next').show();
    });

    $('.set4').find('div').click(function(e) {
      var att = $(this).attr('data-id');
      if (att === "1" ||
          att === "2" ||
          att === "3" ||
          att === "4" ||
          att === "5" ||
          att === "6" ||
          att === "7" ||
          att === "8") {
        $(this).parents('.bracket').find('.final-set').find('.set5').find('div').first().html($(this).html()).attr('data-id',att).addClass('mine');
        if ($(this).attr('class').indexOf('stupid') !== -1) {
          $(this).parents('.feature-set').find('.set5').find('div').first().addClass('stupidDesc');
        }
        if ($(this).attr('class').indexOf('twoline') !== -1) {
          $(this).parents('.feature-set').find('.set5').find('div').first().addClass('twoline');
        }
        pick.bracketFinal.firstRound.first = att;
      } else {
        $(this).parents('.bracket').find('.final-set').find('.set5').find('div').last().html($(this).html()).attr('data-id',att).addClass('mine');
        if ($(this).attr('class').indexOf('stupid') !== -1) {
          $(this).parents('.feature-set').find('.set5').find('div').last().addClass('stupidDesc');
        }
        if ($(this).attr('class').indexOf('twoline') !== -1) {
          $(this).parents('.feature-set').find('.set5').find('div').last().addClass('twoline');
        }
        pick.bracketFinal.firstRound.second = att;
      }
    });

    $('.set5').find('div').click(function(e) {
      var att = $(this).attr('data-id');
      $(this).parents('.bracket').find('.final-set').find('.set6').find('div').first().html($(this).html()).attr('data-id',att).addClass('mine');
      if ($(this).attr('class').indexOf('stupid') !== -1) {
          $(this).parents('.feature-set').find('.set6').find('div').first().addClass('stupidDesc');
        }
        if ($(this).attr('class').indexOf('twoline') !== -1) {
          $(this).parents('.feature-set').find('.set6').find('div').first().addClass('twoline');
        }
      pick.finalPick = att;
      $(this).parents('.feature-set').find('.done').show();
    });
    

    $('.done').click(function(e) {
      $.ajax({
        url: "/createAndSavePicks",
        type: "POST",
        data: pick,
        success: function(r) {
          if (r.success) {
            window.location = '/final?id=' + pick.finalPick;
          } else {
            alert("Your badge is already in our system.  Thank you for your interest");
          }
        },
        error: function(r) {
          alert('We encountered an error.');
        }
      })
    });

    $('.next').click(function(e) {
      var anim = 1000;
      if ($(e.currentTarget).attr('class').indexOf('dimming') !== -1) {
        $('.feature-dimming').addClass('out');
        $('.feature-sensorandtech').addClass('in');
      }
      if ($(e.currentTarget).attr('class').indexOf('sensorandtech') !== -1) {
        $('.feature-sensorandtech').removeClass('in').addClass('out');
        $('.feature-controlfeatures').addClass('in');
      }
      if ($(e.currentTarget).attr('class').indexOf('controlfeatures') !== -1) {
        $('.feature-controlfeatures').removeClass('in').addClass('out');
        $('.feature-communication').addClass('in');
      }
      if ($(e.currentTarget).attr('class').indexOf('communication') !== -1) {
        $('.feature-communication').removeClass('in').addClass('out');
        $('.final-set').addClass('in');
      }
    });
  })(jQuery);
</script>