<section class="badge">
  <div class="logo"></div>

  <article>
    <h2>Enter your badge number to begin</h2>

    <form name="badge">
      <div>
        <input type="number" min="100000" max="999999" name="badge" id="badge" />
      </div>

      <div class="btn">Get Started</div>
    </form>
  </article>
</section>
<script type="text/javascript">
  (function($) {
    $('.btn').click(function() {
      $('form').submit();
    });
    $('form').submit(function(e) {
      var data = $('form').serializeObject();
      e.preventDefault();
      window.location = '/main?id='+data.badge;
    });
  })(jQuery);
</script>